<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<ul th:fragment="nav" >
    <li><a class="active" href="/">Main page</a></li>
<!--    <li><a href="/users" sec:authorize="hasAuthority('admin')">Users</a></li>-->
<!--    <li><a href="/roles" sec:authorize="hasAuthority('admin')">Roles</a></li>-->
<!--    <li><a href="/products">Products</a></li>-->
<!--    <li><a href="/manufacturers">Manufacturers</a></li>-->
<!--    <nav class="navbar navbar-dark bg-dark">-->
<!--        <div class="container-fluid">-->
<!--            <form class="d-flex">-->
<!--                <a class="nav-link">-->
<!--                    <th:block sec:authentication="principal.username"></th:block>-->
<!--                </a>-->
<!--                <div class="btn btn-outline-success" type="button">-->
<!--                    <a class="navbar" href="/logout">Logout</a>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </nav>-->
</ul>